{% extends 'html/header.html' %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="container">
<div class="card col-md-6 mt-4 mx-auto bg-info shadow-lg">
<div class="card-body">
<h3 class="text-white p-3 text-center border-rounded">Registration</h3>
            <form method="POST">
            	{% csrf_token %}
            <input type="text" name="uname" placeholder="Username" class="form-control my-2">
            <input type="password" name="pd" placeholder="Password" class="form-control my-2">
            <input type="email" name="eml" placeholder="Email id" class="form-control my-2">
            <input type="number" name="ag" placeholder="Age" class="form-control my-2">
            <input type="submit" class="form-control btn btn-success btn-block my-2" value="Create">
            </form>
</div>
</div>
</div>
{% endblock %}
