{% extends 'stc/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-6 mx-auto mt-3 shadow-lg">
		<h3 class="text-center text-white bg-info border rounded p-2 my-2">Login</h3>
		<div class="card-body">
			<form method="POST">
				{% csrf_token %}
 
     			<input type="text" name="username" placeholder="userName" class="form-control my-2">
     			<input type="password" name="password" placeholder="password" class="form-control my-2">
     		<div class="row">
     			<div class="col">
				  <input type="submit" value="Login" class="btn btn-success col-sm">
			    </div>
			    <div class="col">
			    	<a href="{% url 'rge' %}" class="btn btn-secondary col-sm">New User</a>
			    </div>
			</div>
		    </form>
		</div>
	</div>
</div>
{% endblock %}