 {% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{% url 'hm' %}">
    <img src="{% static 'images/logo1.jpg' %}" alt="logo" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ab' %}">AboutUs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cn' %}">ContactUs</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dsh' %}">Dashboard</a>
    </li>
    {% endif %}
  </ul>
    <ul class="navbar-nav ml-auto" style="margin-right:120px">
      {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'log' %}">Login</a>
    </li>
    {% else %}
    <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Change password</a>
    <a class="dropdown-item" href="#">Profile</a>
    <a class="dropdown-item" href="{% url 'logo' %}">LogOut</a>
  </div>
</li>
{% endif %}
  </ul>
</div>
</nav>