{% extends 'html/header.html' %}
{% block title %}User Delete
{% endblock %}
{% block content %}
<div class="container">
	<div class="card card-md-5 mt-5 mx-auto">
		<div class="card-body mx-3">
			<form method="POST">
				{% csrf_token %}
				<h3 class="bg-secondary text-center border rounded text-light">Delete User</h3>
				<p>Are you sure you need to Delete the user {{sd.username}}</p>
				<input type="submit" value="Yes Confirm" class="btn btn-success">
				<a href="{% url 'show' %}" class="btn btn-danger">No</a>
			</form>
		</div>
	</div>
</div>
{% endblock%} 