<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<style type="text/css">
	form 
	{
		text-align: center;
    	padding: 13px;
    	background-color: cadetblue;
    	margin-left: 230px;
    	margin-right: 230px;
	}	
	</style>
</head>
<body>
	<h2 style="background-color:green;color:white;margin-left:230px;margin-right:230px;text-align:center;padding:5px">Login Form</h2>
<form>
<label>Username </label>
<input type="text" name=""><br/><br/>
<label>Password </label>
<input type="password" name=""><br/>
<button>Login</button>
</form>
</body>
</html>