{% extends 'html/header.html' %}
{% block title %}login{% endblock %}
{% block content %}
<div class="container">
<div class="card col-md-6 mx-auto mt-5 shadow-lg">
<div class="card-body">
<h3 class="bg-success text-light p-3 text-center border-rounded">login</h3>
            <form>
            <input type="text" name="" placeholder="username" class="form-control my-2">
            <input type="text" name="" placeholder="password" class="form-control my-2">
            <input type="submit" class="btn btn-primary btn-block my-2" value="login">
            </form>
</div>
</div>
</div>
{% endblock %}
